{% extends "users/header.html" %}


{% block content %}
	{%for c in content%}
		<div style="height:240px;width:480px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
			{%for f in c%}
				<p>{{ f.sender }}: {{ f.message }}</p>
			{% endfor %}
		</div>
	{% endfor %}
	<p></p>
	<form action="" method="post" accept-charset="utf-8">
		{% csrf_token %}
     	<label for="message">Message:</label><input type="text" name="message" value="" id="message" />
		<p><input type="submit" value="Post"></p>
	</form>
{% endblock %}

