{% extends "users/header.html" %}


{% block content %}
	{% load staticfiles %}
	{%for c in content%}
		<div id="scrolly" style="height:400px;
                    width:430px;
                    font:16px/26px Georgia, Garamond, Serif;
                    overflow:auto; 
                    background: #ffffff;
                    border-radius: 25px;
                    padding: 10px;
                    word-wrap: break-word;">
			{%for f in c%}
				<p><em style="color:#ff5d5d;">{{ f.sender }}</em>: {{ f.message }}</p>
			{% endfor %}
		</div>
    <script type="text/javascript" src="{% static 'user/js/chat.js' %}"></script>
	{% endfor %}
	<form action="" method="post" accept-charset="utf-8" autocomplete="off">
		{% csrf_token %}
     	<label for="message">Message:</label><input type="text" name="message" value="" id="message" />
		<input type="submit" value="Post" style="position: relative; top: 30px;">
        <br />
	</form>
{% endblock %}

