<!DOCTYPE html>
<html>

<head>
	<title>ChatCube+</title>
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'user/css/chatcube.css' %}" type = "text/css"/>
</head>

<body>
	    <ul>
            <a style="color: #ff5d5d; font-size: 42px;"> ChatCube+</a>
			<li><a href='/admin/'>Admin</a></li>
            <li><a href='/base/info/'>Info</a></li>
            <li><a href='/rooms/'>Rooms</a></li>
             <li><a href='/base/'>Home</a></li>
		</ul>
	<div class='chat_block'>
	    <br><br>
		    {% block content %}
			{% endblock %}
	</div>
</body>

</html>